body {
  font-family: 'Roboto', sans-serif;
  /* background-image: url("images/background2.jpg"); */
  background-color: black;
}

.background {
  /* position: sticky; */
  /* position: -webkit-sticky; */
  /* top: 0; */
  /* position: relative; */
  position: fixed;
  margin-left: 32%;
  /* margin: auto; */
  width: 36%;
  height: 50%;
  z-index: -1;
  /* padding-top: 2%; */
}

.rectangle {
  height: 100px;
  width: 100px;
  /* background-color: yellow; */
  position: absolute;
  top: 95px;
  left: 340px;
}

#overlay {
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  transition-delay: 1s;
}

/* desktop view */
@media only screen and (min-width: 769px) {
  body {
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

.container {
  display: grid;
  grid-template-columns: 10% 30% 30% 30% 10%;
  grid-template-rows: 15% 10% 10% 12% 17%;
  grid-column-gap: 4%;
  grid-row-gap: 2%;
  background-color: rgb(215, 215, 215,0.5);
  padding-top: 10%;
  padding-left: 6%;
  width: 100%;
}

.a {
  grid-column: 1/ 2;
  grid-row: 1;
  -webkit-transition-timing-function: ease-in;
}

.b {
  grid-column: 3/ 4;
  grid-row: 2;
}

.c {
  grid-column: 1/ 2;
  grid-row: 3;
}

.d {
  grid-column: 3/ 4;
  grid-row: 4;
}

.e {
  grid-column: 1/ 2;
  grid-row: 5;
}

.f {
  grid-column: 3/ 4;
  grid-row: 6;
}

.text {
  grid-column: 3/ 4;
  grid-row: 1;
  padding-top: 20%;
  color: white;
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 12px;
  color: white;
}
