body {
  font-family: 'Roboto', sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  color: #504f4f;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
  font-style: italic;
}

.topic {
  margin: auto;
  padding-left: 12%;
  width: 50%;
}
