body {
  font-family: 'Roboto', sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 10%;
}

.mygrid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}

label {
  color: #a4a4a4;
  font-size: 14px;
}

fieldset {
  border: none;
  padding-bottom: 5%;
}

.top {
  margin-top: 3%;
}

input[type="text"],
textarea {
  width: 100%;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
}

div label {
  display: inline-block;
  margin-bottom: 2%;
}

h1 {
  margin: auto;
  width: 40%;
  color: #c8c8c8;
  padding-top: 20%;
}

form {
  margin-top: 5%;
  border: none;
  grid-column: 2;
}

input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 5px 12px;
  border: 0px;
  border-radius: 4px;
  margin-right: 2%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: #c2ba7d;
  color: #333;
}

a {
  color: #9b9d63;
}

#msgSection {
  padding: 2em;
  border-radius: 12px;
  margin-left: 5%;
  background-color: rgb(66, 66, 66, 0.7);
  color: white;
  grid-column: 3;
  grid-row: 1;
  line-height: 25px;
}

.hide {
  opacity: 0;
  transition: opacity 2s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 12px;
  color: white;
}
